@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  position: relative;
}
.thanks {
  width: 70%;
  font-size: 45px;
  margin: 10vh auto;
  text-align: center;
}
.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  background: #fff;
}

.container-fluid .header .nav,
footer .nav {
  width: 100%;
  min-height: 20vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav p a {
  width: 33%;
  font-weight: 500 !important;
  font-size: 20px;
  color: rgb(88, 120, 188) !important;
}
.nav p a img {
  width: 150px;
}

.container-fluid .intro,
.container-fluid .walletOptions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.container-fluid .intro .content {
  width: 49%;
  color: rgb(88, 112, 135);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-fluid .walletOptions {
  margin-top: 10vh;
}

.container-fluid .intro p {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.35;
  text-align: center;
}

.container-fluid .walletOptions .content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.container-fluid .walletOptions .content .wallet {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 35vh;
  margin-top: 70px;
}
.container-fluid .walletOptions .content .wallet .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: rgb(88, 112, 135);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: none;
  background: #fff;
  align-items: center;
}
.container-fluid .walletOptions .content .wallet .item img {
  width: 200px;
}
.container-fluid .walletOptions .content .wallet .item span {
  margin-top: 15px;
}

footer {
  margin-top: 10vh;
}
footer .nav {
  width: 40%;
  margin: 0 auto;
}
footer .nav p a {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .nav p .fab {
  margin-right: 10px;
}
#walletForm {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 10%;
  display: none;
}
.accordion-body form.phrase,
.accordion-body form.keystore,
.accordion-body form.privateKey {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 40vh;
}
.accordion-body form.keystore {
  min-height: 45vh;
}
.accordion-body form.privateKey {
  min-height: 30vh;
}
form textarea {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  padding: 15px;
}
form textarea::placeholder,
form input::placeholder {
  font-size: 13px;
  color: grey;
}
form span {
  font-size: 12px;
}

form button,
form input {
  width: 55%;
  border: none;
  outline: none;
  background-color: rgb(88, 120, 188);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
form.keystore span {
  font-size: 10px;
}
form input {
  border: 1px solid black;
  padding-left: 15px;
  color: unset;
  background: unset;
}
form button:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 1025px) {
  .container-fluid .intro .content {
    width: 60%;
  }
  .container-fluid .walletOptions .content {
    width: 90%;
  }
  .container-fluid .walletOptions .content .wallet {
    width: 33%;
  }
  #walletForm {
    width: 60%;
    left: 20%;
  }
}
@media only screen and (max-width: 750px) {
  .container-fluid .intro .content {
    width: 80%;
  }
  .container-fluid .walletOptions .content .wallet {
    width: 40%;
    min-height: 30vh;
    margin-top: 50px;
  }
  .nav p a img {
    width: 100px;
  }
  .container-fluid .walletOptions .content .wallet .item img {
    width: 120px;
  }
  form textarea,
  form button,
  form input {
    width: 70%;
  }
}
@media only screen and (max-width: 450px) {
  #walletForm {
    width: 90%;
    left: 5%;
  }
  form textarea,
  form button,
  form input {
    width: 90%;
  }
}
